@import url(./reset.css);
@import url(./carousel.css);
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

body {
  font-family: "Manrope";
  font-size: 1.2rem;
  color: #e7f6fd;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  position: fixed;
  width: 100vw;
}

header nav {
  margin: 3rem 10rem 0 10rem;
}

header h1 {
  text-align: center;
  margin-top: -3.5rem;
}

header h3 {
  text-align: center;
  margin-top: 1rem;
  font-weight: 400;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header ul span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

header li {
  list-style-type: none;
  font-size: 1.6rem;
}

header li a {
  text-decoration: none;
  color: #eeaab6;
  margin-right: 2rem;
}

header li a:hover {
  text-shadow: 0px 0px 15px white;
  text-decoration: underline;
  transition: all 0.3s ease-in;
}

header ul > li:last-child a {
  float: right;
  font-size: 3rem;
  margin-top: -1.6rem;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
}

.cover-container {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover-container img {
  position: fixed;
  z-index: -1;
  width: 100vw;
  margin: auto 0;
}

.about {
  position: fixed;
  padding: 2rem 10rem;
  bottom: 5rem;
  text-shadow: black 2px 2px 8px;
}

.about p {
  margin-bottom: 0.5rem;
}

footer {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
}

footer ul {
  margin: 0.25rem 0;
  padding: 0;
}

footer li {
  font-size: 0.9rem;
  list-style-type: none;
  text-align: center;
}

.gallery,
.specs {
  overflow: hidden;
  width: 90vh;
}

.gallery header,
.specs header {
  background-color: rgba(0, 0, 0, 0.7);
  padding-bottom: 1rem;
  z-index: 11;
}

.specs header {
  background-color: black;
}

.specs main {
  width: 100vw;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 90%;
  margin: 0 auto;
}

tr:nth-child(odd) td {
  background-color: rgba(255, 255, 255, 0.15);
}

th {
  background-color: #712268;
  vertical-align: middle;
}

th:first-child {
  border-top-left-radius: 0.7rem;
}

th:last-child {
  border-top-right-radius: 0.7rem;
}

tr {
  height: 2.5rem;
  vertical-align: middle;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 0.7rem;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 0.7rem;
}

td {
  padding-left: 1rem;
}

td:first-child,
td:last-child {
  text-align: right;
  padding-right: 1rem;
}

td:last-child {
  color: #f2c0c8;
}

.cta-button {
  margin-top: 2rem;
  width: 12rem;
  height: 3.5rem;
  background-color: #cd2a46;
  border-radius: 0.7rem;
  align-content: center;
  text-align: center;
}

.cta-button a {
  text-decoration: none;
  color: #e7f6fd;
  font-weight: 600;
}
